/*---------------------------------------------
   Flair
 ---------------------------------------------*/

.flair {
    background: url(%%user-flair%%) #F4F5FE no-repeat 2px 20px;
    padding: 2px 2px 2px 22px;
    height: 16px;
    line-height: 16px;
}

.flair-general, .flair-custom, .flair-unknown { padding-left: 2px; background-image: none; }

/* Do not change the FLAIR_OFFSET_X comments, the auto-flair 
   script uses them to know where to paste the flair offset data. */
/*FLAIR_OFFSET_START*/
.flair-foo-bar                              { background-position: 2px 2px; }
/*FLAIR_OFFSET_END*/

.linkflairlabel {
    font-size: small;
}

